@font-face {
    font-family: headFont;
    src: url(font/LEMONMILK-Regular.otf);
}

@font-face {
    font-family: bodyFont;
    src: url(font/Teachers/Teachers-Regular.otf);
}

body{
    background-color: aliceblue;
}

.top_bar{
    color: aliceblue;
    text-align: center;
    background-color: rgb(105, 105, 105);
    width: 1175px;
    height: 50px;
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom-right-radius: 25px;
    display: flex;
    justify-content: center;
    z-index: 100;
}

#logo{
    height: 30px;
    width: auto;
    padding-right: 40px;
    padding-left: 20px;
    padding-top: 10px;
}

.top_text{
    padding-top: 13px;
    padding-left: 20px;

}

.top_text a{
    padding-top: 15px;
    margin-right: 70px;
    font-family: headFont;
}

.top_text a:hover, a:active, a:link, a:visited{
    color: aliceblue;
    text-decoration: none;
}

.tb_container{
    padding-top: 240px;
    padding-left: 1200px;
    
}

.text_box{
    background-color: rgb(165, 165, 165);
    width: 520px;
    height:fit-content;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom-left-radius: 25px;
    border-top-right-radius:25px;
    line-height: 0.9;
}

.text_box a{
    padding-top: 10px;
    margin: 10px;
    font-size: 25px;
    font-family: bodyFont;
    padding-bottom: 15px;
}

#theme_switch{
    background-color: rgba(240, 248, 255, 0);
    margin-top: 5px;
    margin-left: 150px;
    border: none;
    width: 40px;
    height: 40px;
}

#theme_switch:hover{
    cursor: pointer;
    background-color: rgb(71, 71, 71);
    border-radius: 50%;
}


.img_container img{
    position: fixed;
    height: 750px;
    width: auto;
    top: 0;
    padding-top: 120px;
    padding-left: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#layer1
{   
   z-index: 30;
   opacity: 100%;
   animation: float1 4s ease-in-out infinite;
}
#layer2
{
    z-index: 20;
    padding-left: 150px;
    max-height: 70%;
    width: auto;
    padding-top: 150px;
    opacity: 80%;
    animation: float2 5s ease-in-out infinite;
}

#layer3
{
    z-index: 10;
    padding-left: 420px;
    max-height: 70%;
    width: auto;
    padding-top: 150px;
    opacity: 80%;
    animation: float2 6s ease-in-out infinite;
}

.bottom_bar
{      
    color: aliceblue;
    text-align: center;
    background-color: rgb(105, 105, 105);
    width: 1175px;
    height: 50px;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    border-top-left-radius: 25px;
    display: flex;
    justify-content: center;
    z-index: 100;
}

.bottom_text{
    padding-top: 10px;
    display: flex;
    padding-left: -5px;
}


.bottom_text a{
    margin-left: 70px;
    font-family: headFont;
}

.bottom_bar img{
    padding-top: 7px;
    padding-left: 15px;
    padding-right: 15px;
    width: 35px;
    height: 35px;
    border-radius: 34%;
    display: flex;
}

#theme_state{
    display: flex;
    width: 22px;
    height: 22px;
}

@keyframes float1 {
            0% {transform: translateY(0);}

            50% {transform: translateY(-20px);}

            100% {transform: translateY(0);}
        }

@keyframes float2 {
            0% {transform: translateY(0);}

            50% {transform: translateY(20px);}

            100% {transform: translateY(0);}
        }
